@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Form</h1>
	<form method="post" action="~/Form/Register">
		<label>Имя:</label><br />
		<input type="text" name="name" value="Nastya"/><br />
		<label>Возраст:</label><br />
		<input type="number" name="age" value="15" /><br />
		<label>Вес:</label><br />
		<input type="number" name="weight" value="50" /><br />
		<label>Оценки:</label><br />
		<input type="number" name="Marks" value="5" /><br />
		<input type="number" name="Marks" value="4" /><br />
		<input type="number" name="Marks" value="5" /><br />

		<input type="submit" value="Отправить" />
	</form>
</div>
